#container_body {
	height: 100%;
	margin: 0.5em auto 0;
	width: 100%; 
}

#wrap_body {
	width:60em;
	height:700px;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	margin:0.5em auto;
}

#body_left_navigation_content{
    width:544px; /* changed */
    float:left;
    margin-right:0.75em;}

#body_left_navigation {
    width:134px;
    float:left;
    margin-right:0em;
    padding:0px 10px 0px 0px;
    display:inline;

}
#body_right {
	width: 15.937em;
	float: left;
	clear: right;
}

#footer_wrap {
width:100%;
height:12.3125em;
background-color:#114b7e;
color: white;
}

#footer_container {
position:relative;
width:60em;
margin:0 auto;
}

#container_header {
	width: 100%;
	height:142px;
	background-color:#114b7e;
	color: white;
}
#wrap_head {
	width: 60em;
	height: 8.125em;
	text-align: left;
	margin: 0 auto;
}

#middle_column {
	background-color:#ffffff;
}
